<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="window" value="MuHaNoiXua.Net"/>

    <add key="scaleW" value="0.9"/>
    <add key="scaleQ" value="0.99"/>

    <add key="WarnScale" value="0.99"/>
    <add key="WarnVolume" value="0.5"/>
    <add key="WarnSound" value="alarm.mp3"/>

    <add key="QKeyDelay" value="16"/>
    <add key="QKeyThreadDelay" value="16"/>
    <add key="QKeyThreadOpt" value="32"/>
    <add key="QMemThreadDelay" value="16"/>
    <add key="QWarnThreadDelay" value="16"/>

    <add key="WKeyDelay" value="16"/>
    <add key="WKeyThreadDelay" value="16"/>
    <add key="WKeyThreadOpt" value="32"/>
    <add key="WMemThreadDelay" value="16"/>
    <add key="WWarnThreadDelay" value="16"/>

    <add key="QWEThreadOptTime" value="32"/>

  </appSettings>
</configuration>