<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <appSettings>
    <add key="window" value="MuHaNoiXua.Net"/>

    <add key="scaleW" value="0.9"/>
    <add key="scaleQ" value="0.99"/>

    <add key="WarnScale" value="0.99"/>
    <add key="WarnVolume" value="0.5"/>
    <add key="WarnSound" value="alarm.mp3"/>

    <add key="QKeyDelay" value="32"/>
    <add key="QThreadOptTime" value="32"/>
    <add key="QMemThreadDelay" value="16"/>
    <add key="QWarnThreadDelay" value="16"/>

    <add key="WKeyDelay" value="32"/>
    <add key="WKeyThreadOptTime" value="32"/>
    <add key="WMemThreadDelay" value="16"/>
    <add key="WWarnThreadDelay" value="16"/>

    <add key="QWEDelay" value="32"/>
    <add key="QWEThreadOptTime" value="32"/>
  </appSettings>

  <log4net>
    <!-- Console Logging -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <!-- File Logging -->
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs/app.log"/>
      <appendToFile value="false"/>
      <rollingStyle value="Once"/>
      <datePattern value="ddMMyy'.log'"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
</configuration>
